---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}
<div class="portfolio-item">
  <h2>Simple Unix Shell</h2>
  <p>This is a simple Unix shell written in C with basic functions such as <code>help</code>, <code>cd</code>, <code>pid</code>, <code>ppid</code>, and <code>exit</code>.</p>
  <a href="https://github.com/philipleake/simple-unix-shell" target="_blank">
    <img src="/images/500x300.png" alt="Simple Unix Shell Project" style="width:500px;height:300px;">
  </a>
</div>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

